@import '@/styles/variables.scss';

.word-display {
  padding: 20px;
  background-color: $background-color; /* Основной фон */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: $primary-text-color;
  }

  button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
