$primary-color: #0088cc; // Основной цвет
$background-color: #f9f9f9; // Фон приложения
$primary-text-color: #333; // Основной цвет текста
$secondary-text-color: #666; // Вторичный цвет текста
$button-bg-color: #007bff; // Цвет кнопок
$button-text-color: white; // Цвет текста на кнопках
$card-bg-color: white; // Цвет фона карточек
$icon-color: #333; // Цвет иконок
