@import '@/styles/variables.scss';

.learn-words-page {
  padding: 20px;
  background-color: $background-color; /* Основной фон */

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $primary-text-color; /* Основной цвет текста */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 15px;

      button {
        width: 100%;
        padding: 10px;
        background-color: $button-bg-color;
        color: $button-text-color;
        border: none;
        border-radius: 10px;
        text-align: left;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background-color: darken($button-bg-color, 10%);
        }
      }
    }
  }
}
